#Name {
    text-align: center;
    font-family: 'Arial Black';
    font-size: 35px;
}

#Full_Name {
    color: blue;
}

#myPic {
    width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-family: 'Century Gothic';
    text-align: justify;
    font-stretch: 110%;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 23px;
    
}

body{
    background-color: white;
}