#Name {
    text-align: center;
    font-family: 'Arial Black';
    font-size: 35px;
}

#Full_Name {
    color: blue;
}

#myPic {
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-family: 'Courier New';
    text-align: justify;
    margin-right: 25%;
    margin-left: 25%;
}

body{
    background-color: white;
}